<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <table style="width:100%">
        <tr style="width:100%">
          <td>
            Home&nbsp;
          </td>
          <td class="player">
              {{ player }} - {{ scoreWeek }} ({{ scoreAlltime }})
          </td>
        </tr>
      </table>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list-header>My Turn</ion-list-header>
  <app-list-item *ngFor="let myturn of allData.RunningYourTurn"
    [mainText]="myturn.otherplayername"
    [additionalText]="myturn.playtime"
    [secondRowText]="myturn.zugcount"
    (click)="playGame(myturn.id)">
  </app-list-item>

  <ion-list-header>Invitations</ion-list-header>
  <app-list-item *ngFor="let invitation of allData.GotInvited"
    [mainText]="invitation.otherplayername"
    [additionalText]="invitation.playtime"
    [secondRowText]="invitation.fieldsize"
    (click)="accept(invitation.id)">
  </app-list-item>

  <ion-list-header>Opponent's Turn</ion-list-header>
  <app-list-item *ngFor="let notmyturn of allData.RunningOtherPlayerTurn"
    [mainText]="notmyturn.otherplayername" 
    [additionalText]="notmyturn.playtime" 
    [secondRowText]="notmyturn.zugcount">
  </app-list-item>
  <ion-list-header>Closed Games</ion-list-header>
  <app-list-item mainText="Jonas" additionalText="bla" secondRowText="Running">
  </app-list-item>

  <ion-fab right bottom>
    <button ion-fab color="blue"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="newGame()"><ion-icon name="game-controller-b"></ion-icon></button>
      <button ion-fab (click)="newFriend()" ><ion-icon name="person-add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>