<!--
  Generated template for the LeaderboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Leaderboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="leaderboardType">
      <ion-segment-button value="Friends">
        Friends
      </ion-segment-button>
      <ion-segment-button value="Weekly">
        Weekly
      </ion-segment-button>
      <ion-segment-button value="Alltime">
        All time
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-card>  
    <ion-list>
        <div *ngIf="leaderboardType == 'Friends'">
          <button ion-item>
            <table width="100%">
              <tr class="me">
                <td width="30%">
                  {{meFriends.rank}}
                </td>
                <td width="40%">
                  {{meFriends.name}}
                </td>
                <td width="30%" align="right">
                  {{meFriends.atp}}
                </td>
              </tr>
            </table>
          </button>
          <hr>
          <button ion-item *ngFor="let entry of leaderboardFriends" (click)="removeFriendRequest(entry.id)">
            <table width="100%">
              <tr>
                <td width="30%">
                  {{entry.rank}}
                </td>
                <td width="40%">
                  {{entry.name}}
                </td>
                <td width="30%" align="right">
                  {{entry.atp}}
                </td>
              </tr>
            </table>
          </button>
        </div>
        
      <div *ngIf="leaderboardType == 'Weekly'">
          <button ion-item>
            <table width="100%">
              <tr class="me">
                <td width="30%">
                  {{meWeekly.rank}}
                </td>
                <td width="40%">
                  {{meWeekly.name}}
                </td>
                <td width="30%" align="right">
                  {{meWeekly.wp}}
                </td>
              </tr>
            </table>
          </button>
          <hr>
          <button ion-item *ngFor="let entry of leaderboardWeekly" (click)="addFriend(entry.id)">
            <table width="100%">
              <tr>
                <td width="30%">
                  {{entry.rank}}
                </td>
                <td width="40%">
                  {{entry.name}}
                </td>
                <td width="30%" align="right">
                  {{entry.wp}}
                </td>
              </tr>
            </table>
          </button>
        </div>
        
      <div *ngIf="leaderboardType == 'Alltime'">
          <button ion-item>
            <table width="100%">
              <tr class="me">
                <td width="30%">
                  {{meAlltime.rank}}
                </td>
                <td width="40%">
                  {{meAlltime.name}}
                </td>
                <td width="30%" align="right">
                  {{meAlltime.atp}}
                </td>
              </tr>
            </table>
          </button>
          <hr>
          <button ion-item *ngFor="let entry of leaderboardAlltime" (click)="addFriend(entry.id)">
            <table width="100%">
              <tr>
                <td width="30%">
                  {{entry.rank}}
                </td>
                <td width="40%">
                  {{entry.name}}
                </td>
                <td width="30%" align="right">
                  {{entry.atp}}
                </td>
              </tr>
            </table>
          </button>
        </div>
  
    </ion-list>
  </ion-card>

</ion-content>
