page-game {

}
body {
    margin: 0;
    padding: 0;
  }
  div {
    overflow: hidden;
    box-sizing: border-box;
  }
  .inner-grid {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: table;
  }
  .inner-square {
    line-height: 100%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .inner-square-left-top {
    line-height: 100%;
    font-weight: bold;
    display: table-cell;
    border-bottom: 1px solid;
    border-right: 1px solid;
    text-align: center;
    vertical-align: middle;
  }
  .inner-square-right-top {
    line-height: 100%;
    font-weight: bold;
    display: table-cell;
    border-bottom: 1px solid;
    border-left: 1px solid;
    text-align: center;
    vertical-align: middle;
  }
  .inner-square-left-bottom {
    line-height: 100%;
    font-weight: bold;
    display: table-cell;
    border-top: 1px solid;
    border-right: 1px solid;
    text-align: center;
    vertical-align: middle;
  }
  .inner-square-right-bottom {
    line-height: 100%;
    font-weight: bold;
    display: table-cell;
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
    vertical-align: middle;
  }
