<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <!--<ion-card-content>
      <div class="grid-container">
        <div class="inner-grid" *ngFor="let row of board, let i = index">
          <div class="inner-square" *ngFor="let entry of row, let j = index">
              <div class="inner-square-left-top" ></div>
              <div class="inner-square-right-top" ></div>
          </div>
          <div class="inner-square" *ngFor="let entry of row, let j = index">
              <div class="inner-square-left-bottom" ></div>
              <div class="inner-square-right-bottom" ></div>          
          </div>
        </div>
      </div>
    </ion-card-content>-->

    <ion-card-content>
        <mycanvas width="100%"></mycanvas>
    </ion-card-content>
  </ion-card>

  

</ion-content>